body{
margin:0;
font-family:Arial;
background:#020817;
color:white;
}

/* NAV */
.nav{
display:flex;
justify-content:space-between;
padding:20px 40px;
}

.nav a{
margin:0 10px;
color:#94a3b8;
}

.btn{
background:#0ea5e9;
border:none;
padding:8px 15px;
color:white;
border-radius:8px;
}

/* HERO */
.hero{
text-align:center;
padding:120px 20px;
position:relative;
}

.ring{
width:320px;
height:320px;
border-radius:50%;
border:2px solid #0ea5e9;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
box-shadow:0 0 60px #0ea5e9;
animation:spin 8s linear infinite;
}

@keyframes spin{
100%{transform:translate(-50%,-50%) rotate(360deg);}
}

.profile{
width:180px;
border-radius:50%;
z-index:2;
position:relative;
}

.icons i{
margin:10px;
font-size:22px;
}

/* CARDS */
.cards{
display:flex;
justify-content:center;
gap:20px;
}

.card{
padding:20px;
border-radius:12px;
background:#0f172a;
transition:.3s;
}

.card:hover{
transform:scale(1.1);
box-shadow:0 0 20px #0ea5e9;
}

/* VIDEOS */
.grid{
display:flex;
gap:20px;
justify-content:center;
}

.grid img{
width:250px;
border-radius:10px;
}

/* PLAYER */
.player{
position:fixed;
bottom:0;
width:100%;
background:#0f172a;
text-align:center;
padding:10px;
}
